.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    display: none;
}

.dropdown-items {
    position: relative;
}

.box {
    position: absolute;
    border: 1px solid red;
    width: 100px;
    height: 100px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}